.lists {
  margin-top: 2rem;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  color: grey;
}

.images {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.images img {
  cursor: pointer;
  width: 25%;
  border: none;
  background-color: white;
}

.images img:active {
  opacity: 0.5;
}

.done {
  opacity: 0.6;
  text-decoration: line-through;
}

.editing-input {
  border: solid grey 1px;
  height: 100%;
  width: 80%;
  padding-left: 1rem;
  border-top-left-radius: 1rem;
  font-size: 1rem;
  color: #5a5a5a;
  border-bottom-left-radius: 1rem;
}

.editing-save {
  cursor: pointer;
  border: solid gray 1px;
  font-size: 1rem;
  height: 100%;
  width: 20%;
}

.editing-input::placeholder {
  color: #5a5a5a;
  text-transform: capitalize;
  opacity: 0.5;
}

.editing-input:focus::placeholder {
  color: transparent;
}

.editing-save {
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  background: linear-gradient(64deg, #07fdfd 0%, #4d69fe 46.88%, #c0f 100%);
}

.editing-save:hover {
  opacity: 0.9;
}

.editing-save:active {
  opacity: 0.7;
}
