.checkbox-container {
    margin-bottom: 8px;
    /* display: flex; */
        > label {
        background: linear-gradient(274deg, #c0f 0%, #5756ff 35.29%, #07fdfd 100%);
        background-clip: text;
        font-style: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 0.5rem;
    }
}